<nav class="site-nav">
  <a class="site-logo-area" href="{{ '/' | relative_url }}">
    <img alt="Verdvana" src="{{ '/static/img/avatar.jpg' | relative_url }}"/>
    <span class="site-logo">VERDVANA</span>
  </a>
  <div class="site-nav-links">
    <a class="{% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
    <a class="{% if page.url contains '/archive' or page.layout == 'post' %}active{% endif %}" href="{{ '/archive' | relative_url }}">Blog</a>
    <a class="{% if page.url contains '/labs' %}active{% endif %}" href="{{ '/labs' | relative_url }}">Labs</a>
    <a class="{% if page.url contains '/comments' %}active{% endif %}" href="{{ '/comments' | relative_url }}">Comments</a>
  </div>
</nav>
