---
---

/* 1. 先引入 remote_theme 的原始样式（必须） */
//@import "{{ site.theme }}";

/* 2. 全局字体 + 字号覆盖 */
html {
  /* 苹果官网同款 San Francisco 字体族 */
  font-family: -apple-system, BlinkMacSystemFont,
    "SF Pro Text", "SF Pro Display",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, sans-serif;

  /* 全站字体普遍缩小一号
     16px → 15px */
  font-size: 33.75%;
}